*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: row;
  max-width: 640px;
  flex: 1 0 0;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.features {
  width: 564px;
  display:flex;
  flex-direction: column;
  border: 1px solid rgb(74, 76, 226);
  flex: 1 0 0;
}
.sidebar {
  display:flex;
  flex-direction: column;

}
.icon {
  padding: 20px; 
}
.far,
.fas {
  color: purple;
  padding: 1.3rem;
  cursor: pointer;
}